[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
altgraph = "==0.17.2"
pyinstaller = "==4.5.1"
pyinstaller-hooks-contrib = "==2021.3"
pyqt6-sip = "==13.1.0"
PyQt6 = "==6.2.1"
PyQt6-Qt6 = "==6.2.1"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
